
<% content_for :title do %>
  About
<% end %>

<% content_for :header do  %>
  <h2>About</h2>
<% end %>

<h3>Handcrafted by</h3>
<p>
  <a href="http://www.swaroopch.com">Swaroop C H</a>
</p>

<h3>Disclaimer</h3>
<ul>
  <li>
    This is a small hacked-up side project. I created it because I needed a tool like this. This has nothing to do whatsoever with my employer. You are welcome to use it for your own book purchases. Reading books is good for you.
  </li>
  <li>
    No warranties, guarantees or assurances, regarding the veraciousness of the information displayed, are provided whatsoever.
  </li>
  <li>
    This site currently does NOT take into account many factors such as whether a book is out-of-stock, whether the price includes shipping cost, etc.
  </li>
</ul>

<h3>Inspiration</h3>
<ul>
  <li>
  The idea of <a href="http://userscripts.org">GreaseMonkey</a>
  </li>
  <li>
  <a href="http://isbn.nu/0805091742">http://isbn.nu</a>
  </li>
</ul>
